[submodule "modules/mod-playerbots"]
	path = modules/mod-playerbots
	url = https://github.com/xorbis/mod-playerbots.git
	branch = xorwow
[submodule "modules/mod-guild-tax"]
	path = modules/mod-guild-tax
	url = https://github.com/xorbis/mod-guild-tax.git
	branch = main
[submodule "modules/mod-hunts"]
	path = modules/mod-hunts
	url = https://github.com/xorbis/mod-hunts.git
	branch = xorwow
[submodule "modules/mod-transmog-plus"]
	path = modules/mod-transmog-plus
	url = https://github.com/xorbis/mod-transmog-plus.git
	branch = xorwow
[submodule "modules/mod-affinity"]
	path = modules/mod-affinity
	url = https://github.com/xorbis/mod-affinity.git
	branch = main
[submodule "modules/mod-ah-bot-plus"]
	path = modules/mod-ah-bot-plus
	url = https://github.com/xorbis/mod-ah-bot-plus.git
	branch = xorwow
