[submodule "modules/mod-playerbots"]
	path = modules/mod-playerbots
	url = https://github.com/xorbis/mod-playerbots.git
	branch = xorwow
[submodule "modules/mod-guild-tax"]
	path = modules/mod-guild-tax
	url = https://github.com/xorbis/mod-guild-tax.git
	branch = main
